.HelpButton {  
  
    height: 150px;
    display: block;
    font-size: 3rem;
    font-weight: bold;
    width: 300px;
    color: red;
    left: 80px;
    top: 20px;
    margin: auto;
    margin-top: 20px;
    
  
}

.KeyButton{
    height: 90px;
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    width: 90px;
    color : purple;
    transition: transform 0.2s ease-in-out,
                box-shadow 0.2s ease-in-out;
}

.KeyButton:hover {
    transform: translateX(3px) translateY(-3px);
}

.blanky{
    height: 150px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.scoreboard {
    z-index: 99;
    height: 150px;
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    width: 300px;
 
}
.HintButton{
    z-index: 99;
    height: 150px;
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    width: 300px;

}
.LifeSpan{
    z-index: 99;
    height: 150px;
    display: inline-block;
    font-size: 3rem;
    top: 0%;
    right:0%;
    float: right;
    font-weight: bold;
    width: 300px;
   
} 


#container {
    height: 100vh;
    width: 100vw;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard .row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.keyboard .top {
    width: 100%;
}

.keyboard .middle {
    width: 80%;
}

.keyboard .bottom {
    width: 60%;
}