.RestartButton {  
  
    height: 150px;
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    width: 300px;
    color:red;
 
    left:80px; 
    top:20px;
    
  
}
.KeyButton{
    height: 90px;
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    width: 50px;
    color : purple
    

}
p{
    z-index: 99;
    height: 150px;
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    width: 300px;

}
.scoreboard {
    z-index: 99;
    height: 150px;
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    width: 300px;
 
}
.HintButton{
    z-index: 99;
    height: 150px;
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    width: 300px;

}
.LifeSpan{
    z-index: 99;
    height: 150px;
    display: inline-block;
    font-size: 3rem;
    top: 0%;
    right:0%;
  
    font-weight: bold;
    width: 300px;
   
} 


#container {
    height: 100vh;
    width: 100vw;
}